In [2]:
import pandas as pd

In [3]:


# Read CSV file
csv_file = "sf12010countyname.csv"  # Replace with your CSV file path
df = pd.read_csv(csv_file, encoding='latin1')
# df['countyname'] = df['countyname'].str.replace(' County', '')
# df['countyname'] = df['countyname'].str.upper()
print(df)

      county           countyname
0       1001       Autauga County
1       1003       Baldwin County
2       1005       Barbour County
3       1007          Bibb County
4       1009        Blount County
...      ...                  ...
3216   72145  Vega Baja Municipio
3217   72147    Vieques Municipio
3218   72149   Villalba Municipio
3219   72151    Yabucoa Municipio
3220   72153      Yauco Municipio

[3221 rows x 2 columns]

In [4]:
# Group by 'column_name' and count the occurrences
grouped = df.groupby('countyname').size()

# Filter the results where count is greater than 0
filtered = grouped[grouped > 1]

# Print the filtered results
print(filtered)

countyname
Adair County         4
Adams County        12
Albany County        2
Alexander County     2
Allegany County      2
                    ..
Worth County         3
Wright County        3
Wyoming County       3
York County          5
Yuma County          2
Length: 424, dtype: int64

In [5]:
dfkaggle = pd.read_csv("train.csv")



columns_to_remove = ['row_id', 'first_day_of_month', 'microbusiness_density', 'active']  # List of column names to remove
dfkaggle = dfkaggle.drop(columns=columns_to_remove)

# Print the modified DataFrame
print(dfkaggle)

        cfips          county    state
0        1001  Autauga County  Alabama
1        1001  Autauga County  Alabama
2        1001  Autauga County  Alabama
3        1001  Autauga County  Alabama
4        1001  Autauga County  Alabama
...       ...             ...      ...
122260  56045   Weston County  Wyoming
122261  56045   Weston County  Wyoming
122262  56045   Weston County  Wyoming
122263  56045   Weston County  Wyoming
122264  56045   Weston County  Wyoming

[122265 rows x 3 columns]

In [6]:
print("***********")
grouped1 = dfkaggle.groupby('cfips').size()

# Filter the results where count is greater than 0
filtered1 = grouped1[grouped1 > 1]

# Print the filtered results
print(filtered1)
# Remove the duplicate entries
dfkaggle = dfkaggle.drop_duplicates(subset=['cfips'])

dfkaggle['county'] = dfkaggle['county'].str.replace(' County', '')
dfkaggle['county'] = dfkaggle['county'].str.upper()

print(dfkaggle)

***********
cfips
1001     39
1003     39
1005     39
1007     39
1009     39
         ..
56037    39
56039    39
56041    39
56043    39
56045    39
Length: 3135, dtype: int64
        cfips      county    state
0        1001     AUTAUGA  Alabama
39       1003     BALDWIN  Alabama
78       1005     BARBOUR  Alabama
117      1007        BIBB  Alabama
156      1009      BLOUNT  Alabama
...       ...         ...      ...
122070  56037  SWEETWATER  Wyoming
122109  56039       TETON  Wyoming
122148  56041       UINTA  Wyoming
122187  56043    WASHAKIE  Wyoming
122226  56045      WESTON  Wyoming

[3135 rows x 3 columns]

In [7]:
# This block removes the entries in df that arent present in dfkaggle 

filtered_df = df[df['county'].isin(dfkaggle['cfips'])]


filtered_df['countyname'] = filtered_df['countyname'].str.replace(' County', '')
filtered_df['countyname'] = filtered_df['countyname'].str.upper()

print(filtered_df)

      county  countyname
0       1001     AUTAUGA
1       1003     BALDWIN
2       1005     BARBOUR
3       1007        BIBB
4       1009      BLOUNT
...      ...         ...
3138   56037  SWEETWATER
3139   56039       TETON
3140   56041       UINTA
3141   56043    WASHAKIE
3142   56045      WESTON

[3135 rows x 2 columns]

/var/folders/d7/0ff87dtx5271v6wnb48hjs6w0000gn/T/ipykernel_63055/3520853620.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['countyname'] = filtered_df['countyname'].str.replace(' County', '')
/var/folders/d7/0ff87dtx5271v6wnb48hjs6w0000gn/T/ipykernel_63055/3520853620.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['countyname'] = filtered_df['countyname'].str.upper()

In [8]:
df2 = pd.read_csv("sf12010countydistancemiles.csv")
print(df2)

          county1  mi_to_county  county2
0            1001     22.462994     1021
1            1001     26.844687     1085
2            1001     29.517585     1051
3            1001     30.776371     1047
4            1001     34.493443     1101
...           ...           ...      ...
10371615    72153   5764.146656    15009
10371616    72153   5779.825581    15005
10371617    72153   5850.387006    15003
10371618    72153   5930.896003    15007
10371619    72153   6223.342795     2016

[10371620 rows x 3 columns]

In [9]:
filtered_distance_df = df2[df2['county1'].isin(dfkaggle['cfips'])]

print(filtered_distance_df)

filtered_distance_df = filtered_distance_df[filtered_distance_df['county2'].isin(dfkaggle['cfips'])]

print(filtered_distance_df)

          county1  mi_to_county  county2
0            1001     22.462994     1021
1            1001     26.844687     1085
2            1001     29.517585     1051
3            1001     30.776371     1047
4            1001     34.493443     1101
...           ...           ...      ...
10120455    56045   3360.180643    15005
10120456    56045   3361.968235    15001
10120457    56045   3409.688341    15003
10120458    56045   3443.964819     2016
10120459    56045   3459.539963    15007

[10094700 rows x 3 columns]
          county1  mi_to_county  county2
0            1001     22.462994     1021
1            1001     26.844687     1085
2            1001     29.517585     1051
3            1001     30.776371     1047
4            1001     34.493443     1101
...           ...           ...      ...
10120455    56045   3360.180643    15005
10120456    56045   3361.968235    15001
10120457    56045   3409.688341    15003
10120458    56045   3443.964819     2016
10120459    56045   3459.539963    15007

[9825090 rows x 3 columns]

In [10]:
sales_df = pd.read_csv("Sales, chicken broiler per head.csv")
columns_to_remove_sales_df = ["Program", "Period", "Year", "Week Ending", "Geo Level", "State ANSI", "Zip Code",
                          "Region", "watershed_code", "Watershed", "Commodity", "Ag District",
                          "Ag District Code", "County ANSI", 'Domain', 'Domain Category', "Data Item", "CV (%)"]
sales_df = sales_df.drop(columns= columns_to_remove_sales_df)

print(sales_df.columns)
print(sales_df)

Index(['State', 'County', 'Value'], dtype='object')
        State    County      Value
0     ALABAMA   AUTAUGA        (D)
1     ALABAMA   BULLOCK  1,936,000
2     ALABAMA    ELMORE        (D)
3     ALABAMA    GREENE         90
4     ALABAMA      HALE        (D)
...       ...       ...        ...
2309  WYOMING   LARAMIE        132
2310  WYOMING    PLATTE         82
2311  WYOMING   LINCOLN        (D)
2312  WYOMING  SUBLETTE        (D)
2313  WYOMING     TETON        (D)

[2314 rows x 3 columns]

In [11]:
# all unique non numerical values in the value column


# Apply the conversion function to the column
sales_df['Value'] = sales_df['Value'].str.replace(' \(D\)', '0', regex=True)
# unique_values = sales_df['Value'].unique()

# non_numeric_values = [value for value in unique_values if not re.match(r'^\d+$', value) and not re.match(r'^\d{1,3}(?:,\d{3})+$', value)]


# Print non-numeric values
# print(non_numeric_values)

# unique_non_numerical_values = sales_df['Value'][~sales_df['Value'].str.isnumeric()].unique()
# print("Unique non-numerical values:", unique_non_numerical_values)

sales_df['Value'] = sales_df['Value'].str.replace(',', '', regex=True).astype(float)
print(sales_df)

        State    County      Value
0     ALABAMA   AUTAUGA        0.0
1     ALABAMA   BULLOCK  1936000.0
2     ALABAMA    ELMORE        0.0
3     ALABAMA    GREENE       90.0
4     ALABAMA      HALE        0.0
...       ...       ...        ...
2309  WYOMING   LARAMIE      132.0
2310  WYOMING    PLATTE       82.0
2311  WYOMING   LINCOLN        0.0
2312  WYOMING  SUBLETTE        0.0
2313  WYOMING     TETON        0.0

[2314 rows x 3 columns]

In [12]:
print(dfkaggle)

county = dfkaggle[dfkaggle['county'] == 'BALDWIN']

print(county)

        cfips      county    state
0        1001     AUTAUGA  Alabama
39       1003     BALDWIN  Alabama
78       1005     BARBOUR  Alabama
117      1007        BIBB  Alabama
156      1009      BLOUNT  Alabama
...       ...         ...      ...
122070  56037  SWEETWATER  Wyoming
122109  56039       TETON  Wyoming
122148  56041       UINTA  Wyoming
122187  56043    WASHAKIE  Wyoming
122226  56045      WESTON  Wyoming

[3135 rows x 3 columns]
       cfips   county    state
39      1003  BALDWIN  Alabama
15171  13009  BALDWIN  Georgia

### THIS IS THE HAVERSINE DISTANCE MATRIX, BETWEEN COUNTIES IN STATES AND ALL OTHER COUNTIES IN STATES

In [13]:

# Merge 'filtered_distance_df' with 'dfkaggle' to get county and state for county1
filtered_distance_df = filtered_distance_df.merge(dfkaggle[['cfips', 'county', 'state']],
                                                  how='left', left_on='county1', right_on='cfips')

# Rename county1 columns with matched county and state values
filtered_distance_df = filtered_distance_df.rename(columns={'county': 'county1_name', 'state': 'county1_state'})

# Merge 'filtered_distance_df' with 'dfkaggle' again to get county and state for county2
filtered_distance_df = filtered_distance_df.merge(dfkaggle[['cfips', 'county', 'state']],
                                                  how='left', left_on='county2', right_on='cfips')

# Rename county2 columns with matched county and state values
filtered_distance_df = filtered_distance_df.rename(columns={'county': 'county2_name', 'state': 'county2_state'})

# Drop unnecessary columns
filtered_distance_df = filtered_distance_df.drop(columns=['cfips_x', 'cfips_y'])

# Print the final DataFrame
print(filtered_distance_df)


output_file = 'distance-matrix.csv'
filtered_distance_df.to_csv(output_file, index=False)

         county1  mi_to_county  county2 county1_name county1_state  \
0           1001     22.462994     1021      AUTAUGA       Alabama
1           1001     26.844687     1085      AUTAUGA       Alabama
2           1001     29.517585     1051      AUTAUGA       Alabama
3           1001     30.776371     1047      AUTAUGA       Alabama
4           1001     34.493443     1101      AUTAUGA       Alabama
...          ...           ...      ...          ...           ...
9825085    56045   3360.180643    15005       WESTON       Wyoming
9825086    56045   3361.968235    15001       WESTON       Wyoming
9825087    56045   3409.688341    15003       WESTON       Wyoming
9825088    56045   3443.964819     2016       WESTON       Wyoming
9825089    56045   3459.539963    15007       WESTON       Wyoming

                       county2_name county2_state
0                           CHILTON       Alabama
1                           LOWNDES       Alabama
2                            ELMORE       Alabama
3                            DALLAS       Alabama
4                        MONTGOMERY       Alabama
...                             ...           ...
9825085                     KALAWAO        Hawaii
9825086                      HAWAII        Hawaii
9825087                    HONOLULU        Hawaii
9825088  ALEUTIANS WEST CENSUS AREA        Alaska
9825089                       KAUAI        Hawaii

[9825090 rows x 7 columns]

In [14]:
production_df = pd.read_csv("Production, chicken broiler per head.csv")
columns_to_remove_prod_df = ["Program", "Period", "Year", "Week Ending", "Geo Level", "State ANSI", "Zip Code",
                          "Region", "watershed_code", "Watershed", "Commodity", "Ag District",
                          "Ag District Code", "County ANSI", 'Domain', 'Domain Category', "Data Item", "CV (%)"]
production_df = production_df.drop(columns= columns_to_remove_prod_df)

production_df['Value'] = production_df['Value'].str.replace(' \(D\)', '0', regex=True)
production_df['Value'] = production_df['Value'].str.replace(',', '', regex=True).astype(float)

print(production_df)

         State       County       Value
0      ALABAMA      AUTAUGA         0.0
1      ALABAMA      BULLOCK   1936000.0
2      ALABAMA       ELMORE         0.0
3      ALABAMA         HALE         0.0
4      ALABAMA      LOWNDES  14158667.0
..         ...          ...         ...
629  WISCONSIN         IOWA         0.0
630  WISCONSIN      BUFFALO  18765000.0
631  WISCONSIN   EAU CLAIRE   2008000.0
632  WISCONSIN      JACKSON   2100000.0
633  WISCONSIN  TREMPEALEAU  29429000.0

[634 rows x 3 columns]

### THIS IS THE NET VALUE OF CONSUMPTION BETWEEN PRODUCERS AND CONSUMERS

In [15]:
# Merge DataFrames and subtract values
merged_df = pd.merge(sales_df, production_df, on=['State', 'County'], suffixes=('_sales', '_prod'))
merged_df['Net_Value'] = merged_df['Value_prod'] - merged_df['Value_sales']

# Print the merged DataFrame with subtracted values
print(merged_df)
output_file = 'net-consuption.csv'
merged_df.to_csv(output_file, index=False)

         State       County  Value_sales  Value_prod  Net_Value
0      ALABAMA      AUTAUGA          0.0         0.0        0.0
1      ALABAMA      BULLOCK    1936000.0   1936000.0        0.0
2      ALABAMA       ELMORE          0.0         0.0        0.0
3      ALABAMA         HALE          0.0         0.0        0.0
4      ALABAMA      LOWNDES   14158667.0  14158667.0        0.0
..         ...          ...          ...         ...        ...
629  WISCONSIN         IOWA          0.0         0.0        0.0
630  WISCONSIN      BUFFALO   18766515.0  18765000.0    -1515.0
631  WISCONSIN   EAU CLAIRE    2077776.0   2008000.0   -69776.0
632  WISCONSIN      JACKSON    2137204.0   2100000.0   -37204.0
633  WISCONSIN  TREMPEALEAU   29430195.0  29429000.0    -1195.0

[634 rows x 5 columns]